@font-face {
  font-family: "Nunito-Light";
  src: url('font/Nunito-Light.ttf');
}

html,
body {
  font-family: 'Nunito-Light', sans-serif;
  /* font-family: "GT Eesti Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  background: #F0F2F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  margin-bottom: 3rem;
}

.content-wrapper {
  margin-top: 3rem;
}

.card-footer-item {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

.card-header-title {
  display: block;
}

.card-content p {
  margin-bottom: 2rem;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.arrow {
  text-align: center;
  margin: 3% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}